/**
 * Filename:    css/main.css
 * Author:      Adrian Gould <...@...>
 * Version:     1.0
 */

main{
    margin-top:7rem;
}

h2 {
    font-size: 2.5rem;
    padding: 2rem 0 1rem 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    position:relative;
}


.sticky-header{
    width:80%;
    position: fixed;
    top:0;
}

.site-header {
    background: #000000;
    color: #cccccc;
    display: flex;
    flex-direction: row-reverse;
    /*align-content: stretch;*/
    /*align-items: stretch;*/
    flex-wrap: nowrap;
    justify-content: flex-start;
}

.site-header div {
    flex-grow: 1;
    padding: 1rem;
}

.site-header h1 {
    font-size: 2rem;
}

.site-header p {
    font-size: 0.9rem;
    color: #aaaaaa;
    margin-top: 0.5rem;
}

.site-header img {
    width: 6rem;
    height: 6rem;
}

.site-navigation {
    padding-left: 6rem;
    height: 2rem;
    background-color: rgba(32,32,32,1);
}

.site-navigation > ul {
    margin-left: 1rem;
    padding-top: 0.25rem;
    display: flex;
    flex-direction: row;
}

.site-navigation > ul li {
    /*flex: 1*/
    margin: 0 1rem;
}

.site-navigation a {
    padding: 0 0.5rem;
    border-bottom: 2px solid #eeeeee;
    color: rgba(255,255,255,0.8);
}

.site-navigation a:hover {
    border-bottom-color: #000099;
}

.site-navigation a:visited {
    border-bottom-color: #990099;
}

.site-navigation a.active {
    border-bottom-color: #009900;
}

.site-navigation > ul li:first-child {
    margin-left: 0;
}

.site-navigation > ul li:last-child {
    margin-right: 0;
}


.site-footer {
    display: flex;
    flex-direction: row;
    font-size: 0.8rem;
    margin-top: 3rem;
}

.site-footer section {
    padding: 1rem;
}

.site-footer h2 {
    font-weight: bold;
    font-size: 1rem;
}

.site-footer>div{
    flex-grow: 1;
    background:rgba(0,255,0,0.25);
}
.site-footer section:first-child {
    background: #ffdddd;
}

.site-footer section p {
    margin: 0 0 1rem 0;
}

.site-footer section li {
    padding: 0.125rem 0 0;
}

.site-footer section:first-child ul {
    display: flex;
    flex-direction: row;
}

.site-footer section:first-child li {
    width: 1.25rem;
    font-size: 0.9rem;
}

.site-footer section:last-child a:hover {
    border-bottom: 1px solid #000099;
}


.hero {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 350px;
    grid-column-gap: 0;
    grid-row-gap: 0;
    align-content: center;
    justify-content: center;
}

.hero-image-holder {
    grid-area: 1/1/2/2;
}

.hero-image-holder > img {
    min-width: 350px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-overlay {
    grid-area: 1/1/2/2;
    background: rgba(255, 255, 255, 0.5);
    width: 50%;

}

.hero-overlay h3,
.hero-overlay p {
    margin: 2rem;
}

.hero-overlay h3 {
    font-size: 3rem;
}